{{>head}}

<body>

<!-- header -->
NAV_BAR_PLACEHOLDER
<!-- / header -->

<!-- hero -->
<section class="hero bg-blue overlay">
    <div class="container">
        <div class="row align-items-end justify-content-between">
            {{#pic}}
            <div class="col-md-6 text-white mb-3 mb-md-0">
                <div class="row gutter-2">
                    <div class="col-12">
                        <h1 class="h2 font-weight-normal">{{title}}</h1>
                        <h3 class="h3 font-weight-normal">{{datePosted}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-5">
                <img src="{{pic.fields.file.url}}?h=300" alt="Image" class="overlay-item-bottom">
            </div>
            {{/pic}}
            {{^pic}}
            <div class="col-md-12 text-white mb-3 mb-md-0">
                <div class="row gutter-2">
                    <div class="col-12">
                        <h1 class="h2 font-weight-normal">{{title}}</h1>
                        <h3 class="h3 font-weight-normal">{{datePosted}}</h3>
                    </div>
                </div>
            </div>
            {{/pic}}
        </div>
    </div>
</section>
<!-- / hero -->


<!-- categories -->
<section class="bg-white" style="padding:0px">
    <div class="container">
        <div class="row">
            <!-- content -->
            <article class="col-md-8 content-body">

                <div class="row">
                    <div class="col-12">
                        {{{blogContent}}}
                        {{{blockHTML}}}
                    </div>
                </div>
                <div class="row gutter-2">
                    {{{cardBlocksHTML}}}
                </div>
                <div class="row">
                    <div class="col-12">
                        {{#tags}}
                        <span class="badge badge-primary"><a href="https://www.tranmere-web.com/page/tag/{{.}}" style="color:white">{{.}}</a></span>
                        {{/tags}}
                    </div>
                    </row>
                </div>
            </article>
            <!-- / content -->

            <!-- sidebar -->
            {{>recent}}
            <!-- / sidebar -->
        </div>
    </div>
</section>
<!-- / categories -->

{{>footer}}
</body>
</html>