{{>head}}


<!-- header -->
{{>homenav}}
<!-- / header -->


<!-- hero -->
<section class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-white text-center">
                <h1 class="font-weight-light">Oops!</h1>
                <p>We can't find that page right now. This site is still in progress, so I may not have built it yet!</p>
            </div>
        </div>
    </div>
</section>
<!-- / hero -->


{{>footer}}
</body>
</html>