{{>head}}


<!-- header -->
{{>homenav}}
<!-- / header -->


<!-- hero -->
<section class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-white text-center">
                <h1 class="font-weight-light">Welcome To Tranmere-Web!</h1>
                <p>This site is still in progress!</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-white text-center">
                <h2 class="font-weight-light">The website full of data, statistics and information about Tranmere Rovers FC</h2>
            </div>
        </div>
    </div>
</section>
<!-- / hero -->



<section class="half bg-primary">
    <div class="half-bg bg-light pb-10">
        <div class="image image-gradient-vertical" style="background-image:url(/assets/images/image.jpg)"></div>
    </div>
    <div class="container-full mb-10">
        <div class="row gutter-0 justify-content-center">
            <div class="col-12">
                <div class="owl-carousel owl-carousel-showcase owl-carousel-fluid" data-items="[3,2,1]" data-center="true" data-margin="30" data-nav="true" data-loop="true">
                    <div class="card card-showcase lift">
                        <a href="/teams.html">
                            <img class="card-img-top" src="/assets/images/Screenshot1.png" alt="Results By Opposition">
                        </a>
                    </div>
                    <div class="card card-showcase lift">
                        <a href="/players.html">
                            <img class="card-img-top" src="/assets/images/Screenshot2.png" alt="Player Records">
                        </a>
                    </div>
                    <div class="card card-showcase lift">
                        <a href="/seasons.html">
                            <img class="card-img-top" src="/assets/images/Screenshot3.png" alt="Results By Season">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- categories -->
<section class="bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>What's coming soon?</h2>
                <p>Detailed stats about all things Tranmere Rovers</p>
            </div>
        </div>
        <div class="row gutter-1">
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Accordions" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Player" style="margin-left:20px" title="Player" width="40px" height="40px" src="/assets/icons/043-player.svg" align="left"/>
                        <h5 class="fs-18">Player Stats</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Alerts" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">Programmes</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Widgets" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">Goals/Assists</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Typography" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Kit" style="margin-left:20px" title="Kit" width="40px" height="40px" src="/assets/icons/033-kit.png" align="left"/>
                        <h5 class="fs-18">Historic Kits</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="documentation/components/video.html" title="Video" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">Memorabilia</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Cards" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">Tickets</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Carousels" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Player" style="margin-left:20px" title="Player" width="40px" height="40px" src="/assets/icons/054-stadium.png" align="left"/>
                        <h5 class="fs-18">Attendances</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Code" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">More Stats</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Forms" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">Site Search</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Lists" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">API</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="Steps" class="card bordered highlight">
                    <div class="card-body text-center px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Player" style="margin-left:20px" title="Player" width="40px" height="40px" src="/assets/icons/043-player.svg" align="left"/>
                        <h5 class="fs-18">Dream Teams</h5>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <a href="#" title="View All Components" class="card bordered highlight">
                    <div class="card-body text-center  px-0 py-1 py-md-2 py-lg-3">
                        <img alt="Ball" style="margin-left:20px" title="Ball" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg" align="left"/>
                        <h5 class="fs-18">Much More...</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- / categories -->



<!-- cta -->
<div class="half bg-white">
    <span class="half-bg bg-dark"></span>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta boxed no-border bg-primary p-3 p-md-5">
                    <i class="icon-shopping-cart2 icon-background text-white"></i>
                    <div class="row">
                        <div class="col text-white">
                            <h2>Site Notifications!</b></h2>
                            <p class="lead">Sign up for notifications when new functionality is added</p>
                            <div class='onesignal-customlink-container'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / cta -->

{{>footer}}
</body>
</html>