{{>head}}

<body>

<!-- header -->
{{>homenav}}
<!-- / header -->

<!-- hero -->
<section class="hero bg-blue overlay">
    <div class="container">
        <div class="row align-items-end justify-content-between">
            <div class="col-md-6 text-white mb-3 mb-md-0">
                <div class="row gutter-2">
                    <div class="col-12">
                        <h1 class="h2 font-weight-normal">Welcome To Tranmere Web</h1>
                    </div>
                    <div class="col-12">
                        <h3 class="h3">The website full of data, statistics and information about Tranmere Rovers FC</h3>
                        <h3 class="h3">This site is still in progress. But feel free to browse around while we finish it off.</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-5">
                <img src="/assets/shirts/1989.svg" alt="Image" class="overlay-item-bottom">
            </div>
        </div>
    </div>
</section>
<!-- / hero -->

<!-- sidebar layout -->
<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="content boxed">
                    <div class="row separated">
                        <!-- sidebar -->
                        {{>recent}}
                        <!-- / sidebar -->
                        <!-- content -->
                        <article class="col-md-8 content-body">
                            <h2>Site Features</h2>
                            <ul class="list-group list-group-lines">
                                <li class="list-group-item d-flex align-items-center boxed">
                                    <i class="icon-check2 mr-2 text-primary fs-24"></i>
                                    All First Team Results Since 1921
                                    <span class="badge badge-green">New</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="icon-check2 mr-2 text-primary fs-24"></i>
                                    Programme Covers from over 1500 Tranmere games
                                    <span class="badge badge-green">New</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="icon-check2 mr-2 text-primary fs-24"></i>
                                    Appearance Data Since 1985
                                    <span class="badge badge-green">New</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="icon-check2 mr-2 text-primary fs-24"></i>
                                    Goals Data Since 1985
                                    <span class="badge badge-green">New</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="icon-check2 mr-2 text-primary fs-24"></i>
                                    Assist Data Since 1989
                                    <span class="badge badge-yellow">In progress</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="icon-check2 mr-2 text-primary fs-24"></i>
                                    Attendances
                                    <span class="badge badge-yellow">In progress</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="icon-check2 mr-2 text-primary fs-24"></i>
                                    Memorabilia Galleries
                                    <span class="badge badge-green">New</span>
                                </li>
                            </ul>
                        </article>
                        <!-- / content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / sidebar layout -->

<!-- cta -->
<div class="half bg-white">
    <span class="half-bg bg-dark"></span>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta boxed no-border bg-primary p-3 p-md-5">
                    <i class="icon-shopping-cart2 icon-background text-white"></i>
                    <div class="row">
                        <div class="col text-white">
                            <h2>Site Notifications!</b></h2>
                            <p class="lead">Sign up for notifications when new functionality is added</p>
                            <div class='onesignal-customlink-container'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / cta -->

{{>footer}}
</body>
</html>