{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            {{>nav2}}

            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="row justify-content-between doc-content-body">
                    <article class="col-md-9 col-xxl-8">

                        <h1 class="h2 font-weight-light">{{title}}</h1>
                        <h5 class="h5 font-weight-light" id="section-official">Official Club Links</h5>
                        <p><a href="https://www.tranmererovers.co.uk">Official Club Website</a></p>
                        <h5 class="h5 font-weight-light" id="section-fans">Fan Sites</h5>
                        <p><a href="https://www.roversrearguard.com/">RoversRearguard</a></p>
                        <h5 class="h5 font-weight-light" id="section-social">Social Media</h5>
                        <p><a href="https://twitter.com/TranmereRovers">Official Twitter Account</a></p>

                    </article>

                    <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                        <div>
                            <ul id="toc" class="nav flex-column toc">
                                <li class="nav-item">
                                    <a data-scroll class="nav-link" href="#section-official">Official Club Links</a>
                                    <a data-scroll class="nav-link" href="#section-fans">Fan Sites</a>
                                    <a data-scroll class="nav-link" href="#section-social">Social Media</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a class="twitter-timeline" href="https://twitter.com/TranmereRovers?ref_src=twsrc%5Etfw">Tweets by TranmereRovers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </aside>

                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
</body>
</html>