{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            {{>nav2}}

            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="row justify-content-between doc-content-body">
                    <article class="col-md-9 col-xxl-8">

                        <h1 class="h2 font-weight-light">Managerial Records</h1>
                        <p >Click the manager for more details</p>
                        {{#managers}}
                        <div class="card"  itemscope itemtype ="http://schema.org/coach">
                            <div class="card-body py-0">
                                <a href="/managers/{{_id}}.html" class="topic" id="manager-{{_id}}" itemprop="url">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-6 col-lg-6">
                                            <h4 class="topic-title" itemprop="name">{{_source.Name}}</h4>
                                        </div>
                                        <div class="col-12 col-lg-3 d-none d-lg-block">
                                            <div class="d-flex align-items-center">
                                                <small>
                                                    From
                                                    <time datetime="{{_source.DateJoined}}" class="text-muted d-block">{{_source.DateJoined}}</time>
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3 d-none d-lg-block">
                                            <div class="d-flex align-items-center">
                                                <small>
                                                    To
                                                    <time datetime="{{_source.DateLeft}}" class="text-muted d-block">{{_source.DateLeft}}</time>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/managers}}

                    </article>

                    <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                        <div class="sticky">
                            <ul id="toc" class="nav flex-column toc">
                                <li class="nav-item">
                                    {{#managers}}
                                    <a data-scroll class="nav-link" href="#manager-{{_id}}">{{_source.Name}}</a>
                                    {{/managers}}
                                </li>
                            </ul>
                        </div>
                    </aside>

                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
</body>
</html>