{{>head}}
<body id="top">
{{>homenav}}
    <!-- hero -->
    <section>
      <div class="image image-overlay" style="background-image:url(/assets/images/20170408_165126.jpg)"></div>
      <div class="container">
        <div class="row">
          <div class="col text-white">
            <h1 class="mb-3">{{title}}</h1>

          </div>
        </div>
      </div>
    </section>
    <!-- / hero -->

    <!-- listing inside -->
    <section class="overlay">
      <div class="container">
          <div class="text-right">
            <a href="/players/{{name}}.html" class="btn btn-primary btn-rounded" style="margin-bottom:20px;">Back To Player Bio</a>
          </div>
          <ul class="nav nav-tabs lavalamp mb-2" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Goals/Assists</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Appearances</a>
              </li>
          </ul>
          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <table class="table table-striped boxed">
                      <thead>
                      <tr>
                          <th scope="col">Date</th>
                          <th scope="col"  class="text-center">Goal/Assist</th>
                          <th scope="col"  class="text-center">Goal/Assist Type</th>
                      </tr>
                      </thead>
                      <tbody>
                      {{#goals}}
                      <tr>
                          <td scope="row"><small><time datetime="{{Date}}" class="text-muted d-block">{{Date}}</time></small>
                              <small>{{Opposition}}</small> <small>({{Competition}})</small></td>
                          {{#isGoal}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Goal" title="Goal" width="40px" height="40px" src="/assets/icons/004-soccer ball.svg"/>
                          </td>
                          {{/isGoal}}
                          {{#isAssist}}
                          <td><img class="rounded mx-auto d-block" alt="Assist" title="Assist" width="40px" height="40px" src="/assets/icons/001-strategy.png"/></td>
                          {{/isAssist}}
                          {{#isHeader}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Header" title="Header" width="40px" height="40px" src="/assets/icons/028-header.svg"/>
                          </td>
                          {{/isHeader}}
                          {{#isShot}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Shot" title="Shot" width="40px" height="40px" src="/assets/icons/006-soccer boots.png"/>
                          </td>
                          {{/isShot}}
                          {{#isPenalty}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Penalty" title="Penalty" width="40px" height="40px" src="/assets/icons/041-penalty kick.png"/>
                          </td>
                          {{/isPenalty}}
                          {{#isCorner}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Corner" title="Corner" width="40px" height="40px" src="/assets/icons/012-corner.png"/>
                          </td>
                          {{/isCorner}}
                          {{#isPass}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Pass" title="Pass" width="40px" height="40px" src="/assets/icons/001-strategy.png"/>
                          </td>
                          {{/isPass}}
                          {{#isFreeKick}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Free Kick" title="Free Kick" width="40px" height="40px" src="/assets/icons/022-free kick.png"/>
                          </td>
                          {{/isFreeKick}}
                          {{#isCross}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Cross" title="Cross" width="40px" height="40px" src="/assets/icons/014-cross.png"/>
                          </td>
                          {{/isCross}}
                          {{#isUnknown}}
                          <td>

                          </td>
                          {{/isUnknown}}
                      </tr>
                      {{/goals}}
                      </tbody>
                  </table>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <table class="table table-striped boxed">
                      <thead>
                      <tr>
                          <th scope="col">Date</th>
                          <th scope="col" class="text-center">Start/Sub</th>
                          <th scope="col">Subbed By/For</th>
                          <th scope="col" class="text-center d-none d-md-table-cell">Discipline</th>
                      </tr>
                      </thead>
                      <tbody>
                      {{#games}}
                      <tr>
                          <td scope="row"><small><time datetime="{{Date}}" class="text-muted d-block">{{Date}}</time></small>
                              <small>{{Opposition}}</small> <small>({{Competition}})</small></td>
                          {{#isSub}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Sub" title="Sub" width="40px" height="40px" src="/assets/icons/056-substitute.svg"/>
                          </td>
                          {{/isSub}}
                          {{^isSub}}
                          <td>
                              <img class="rounded mx-auto d-block" alt="Start" title="Start" width="40px" height="40px" src="/assets/icons/043-player.svg"/>
                          </td>
                          {{/isSub}}
                         <td class="align-middle"><small><a href="/players/{{replaced}}.html">{{replaced}}</a></small></td>
                         <td class="d-none d-md-table-cell">
                             {{#yellow}}
                              <img class="rounded mx-auto d-block" alt="yellow card" title="yellow card" width="40px" height="40px" src="/assets/icons/064-yellow card.png"/>
                             {{/yellow}}
                             {{#red}}
                             <img class="rounded mx-auto d-block" alt="red card" title="red card" width="40px" height="40px" src="/assets/icons/047-red card.png"/>
                             {{/red}}
                         </td>
                      </tr>
                      {{/games}}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </section>
    <!-- / listing inside -->
{{>footer}}
</body>
</html>