{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0"  itemscope itemtype ="http://schema.org/SportsTeam">
    <meta itemprop="sport" content="football" />
    <meta itemprop="name" content="Tranmere Rovers F.C." />
    <div class="container-fluid">
        <div class="row justify-content-between">

            {{>nav2}}

            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="icon-check2"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="fs-22">Site Update</h4>
                    <p>Only data from the 1988-89 season has been uploaded so far!</p>
                    <p>Does not include data from the Sherpa Van Trophy Games</p>
                    <p>Assist data based on available videos</p>
                </div>

                <div class="row justify-content-between doc-content-body">
                    <article class="col-md-9 col-xxl-8">

                        <h1 class="h2 font-weight-light">Players Records</h1>
                        <p >Click the player for more details</p>
                        {{#players}}
                        <div class="card" itemprop="athlete" itemscope itemtype ="http://schema.org/Person">
                            <div class="card-body py-0">
                                <a href="/players/{{_source.Name}}.html" class="topic" id="manager-{{_id}}" itemprop="url">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-6 col-lg-6">
                                            <h4 class="topic-title" itemprop="name">{{_source.Name}}</h4>
                                        </div>
                                        <div class="col-12 col-lg-3 d-none d-lg-block">
                                            <div class="d-flex align-items-center">
                                                <small>
                                                    {{_source.PrimaryPosition}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/players}}

                    </article>

                    <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                        <div class="sticky">
                            <ul id="toc" class="nav flex-column toc">
                                <li class="nav-item">
                                    {{#players}}
                                    <a data-scroll class="nav-link" href="#manager-{{_id}}">{{_source.Name}}</a>
                                    {{/players}}
                                </li>
                            </ul>
                        </div>
                    </aside>

                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
</body>
</html>