{{>head}}
<body id="top" class="penpic">
<!-- header -->
NAV_BAR_PLACEHOLDER
<!-- / header -->

<!-- hero -->
<section itemscope itemtype ="http://schema.org/athlete" class="hero overlay">
    <div class="image image-overlay" style="background-image:url({{{image}}})"></div>
    <div class="container">
        <div class="row align-items-end justify-content-between">
            <div class="col-7 text-white mb-md-0">
                <div class="row gutter-2">
                    <div class="col">
                        <h1 class="mb-3" itemprop="name" id="PlayerName">{{name}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-5 pic">
                {{#player.pic.fields.file.url}}
                <img src="{{player.pic.fields.file.url}}" alt="Image" class="overlay-item-bottom">
                {{/player.pic.fields.file.url}}
                {{^player.pic.fields.file.url}}
                <img src="/assets/shirts/blank.svg" alt="Image" class="overlay-item-bottom">
                {{/player.pic.fields.file.url}}
            </div>
        </div>
    </div>
</section>
<!-- / hero -->


<!-- listing inside -->
<section class="overlay" id="profile">
    <div class="container">
        {{#player.biography.content}}
            {{#content}}
                <p>{{value}}</p>
            {{/content}}
        {{/player.biography.content}}
        <p><strong>Debut:</strong> {{debut.Opposition}} ({{debut.Date}})</p>
        {{#player.dateOfBirth}}
            <p><strong>Born:</strong> {{player.dateOfBirth}}, {{player.placeOfBirth}} </p>
        {{/player.dateOfBirth}}
        <ul class="nav nav-tabs lavalamp mb-2" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="transfers-tab" data-toggle="tab" href="#transfers" role="tab" aria-controls="transfers" aria-selected="false">Transfers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="links-tab" data-toggle="tab" href="#links" role="tab" aria-controls="links" aria-selected="false">Links</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade  show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <table class="table table-striped boxed">
                    <thead>
                    <tr>
                        <th scope="col">Season</th>
                        <th scope="col"  class="text-center">Starts</th>
                        <th scope="col"  class="text-center">Goals</th>
                        <th scope="col"  class="text-center d-none d-md-table-cell">Assists</th>
                        <th scope="col"  class="text-center d-none d-lg-table-cell">Headers</th>
                        <th scope="col"  class="text-center d-none d-lg-table-cell">Free Kicks</th>
                        <th scope="col"  class="text-center d-none d-lg-table-cell">Penalties</th>
                        <th scope="col"  class="text-center d-none d-md-table-cell">Yellow Cards</th>
                        <th scope="col"  class="text-center d-none d-md-table-cell">Red Cards</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#seasons}}
                    <td><a href="/results.html?season={{Season}}">{{Season}}</a></td>
                    <td class="text-center">{{starts}} ({{subs}})</td>
                    <td class="text-center">{{goals}}</td>
                    <td class="text-center d-none d-md-table-cell">{{assists}}</td>
                    <td class="text-center d-none d-lg-table-cell">{{headers}}</td>
                    <td class="text-center d-none d-lg-table-cell">{{freekicks}}</td>
                    <td class="text-center d-none d-lg-table-cell">{{penalties}}</td>
                    <td class="text-center d-none d-md-table-cell">{{yellow}}</td>
                    <td class="text-center d-none d-md-table-cell">{{red}}</td>
                    </tr>
                    {{/seasons}}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="transfers" role="tabpanel" aria-labelledby="transfers-tab">
                <table class="table table-striped boxed">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Club</th>
                        <th scope="col">Fee</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#player.transfers}}
                    <tr>
                        <td><small><time datetime="{{date}}" class="text-muted d-block">{{date}}</time></small></td>
                        <td><small>{{^incoming}}<span class="icon-arrow-right text-danger"></span>{{/incoming}}{{#incoming}}<span class="icon-arrow-left text-success"></span>{{/incoming}}{{club}}</small></td>
                        <td><small>
                            {{^noFee}}
                            {{#currencyFormat}}{{fee}}{{/currencyFormat}}
                            {{/noFee}}
                            {{#other}} {{type}} {{/other}}
                        </small></td>
                    </tr>
                    {{/player.transfers}}
                </table>
            </div>
            <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
                <table class="table table-striped boxed">
                    <tbody>
                    {{#player.links}}
                    <tr>
                        <td><a href="{{.}}">{{.}}</a></td>
                    </tr>
                    {{/player.links}}
                </table>
            </div>
        </div>
    </div>

</section>
<!-- / listing inside -->
{{>footer}}
</body>
</html>