{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            {{>nav2}}

            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="row justify-content-between doc-content-body">
                    <article class="col-md-9 col-xxl-8">

                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="icon-check2"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="fs-22">Site Update</h4>
                            <p>Does not include data from the Football League Trophy (Leyland Daf etc.) Games</p>
                        </div>

                        <h1 class="h2 font-weight-light">Results by season</h1>
                        <div class="accordion accordion-stack" id="accordionExample">
                            {{#decades}}
                            <div class="card" id="section-{{year}}">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{year}}" aria-expanded="false" aria-controls="collapse-{{year}}">
                                            Seasons in {{year}}'s
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse-{{year}}" class="collapse" aria-labelledby="heading-{{year}}" data-parent="#accordionExample">
                                    <div class="card-body pb-0">
                                        {{#seasons}}
                                        <a href="/seasons/{{year}}.html" class="topic">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-md-8 col-lg-6">
                                                    <h4 class="topic-title">{{year}}/{{nextYear}}</h4>
                                                </div>
                                            </div>
                                        </a>
                                        {{/seasons}}
                                    </div>
                                </div>
                            </div>
                            {{/decades}}
                        </div>

                    </article>

                    <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                        <div class="sticky">
                            <ul id="toc" class="nav flex-column toc">
                                <li class="nav-item">
                                    {{#decades}}
                                    <a data-scroll class="nav-link" href="#section-{{year}}">{{year}}'s</a>
                                    {{/decades}}
                                </li>
                            </ul>
                        </div>

                    </aside>

                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
</body>
</html>