{{>head}}
<body data-spy="scroll" data-target="#toc">

<!-- header -->
{{>homenav}}
<!-- / header -->

<!-- sidebar layout -->
<section class="overlay">
    <div class="container overlay-item-top">
        <div class="row">
            <div class="col">
                <div class="content boxed">
                    <div class="row separated">

                        <!-- content -->
                        <article class="col-md-12 content-body">
                            <div class="list-group list-group-related">
                                {{#items}}
                                <a href="/page/blog/{{sys.id}}" class="list-group-item list-group-item-action d-flex align-items-center active">
                                    <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
                                    {{fields.title}}
                                </a>
                                {{/items}}
                            </div>
                        </article>
                        <!-- / content -->


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- / sidebar layout -->

{{>footer}}
</body>
</html>