{{>head}}
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row doc-content-body">

            {{>nav2}}


            <!-- content -->
            <article class="col-lg-9 col-xxl-10 doc-content">

                {{>breadcrumb}}

                <div class="row doc-content-body">
                    <article class="col-md-9 col-xxl-8">

                        <h1>Games By Opposition</h1>


                        <!-- styles -->
                        <section id="section-1">

                            <div class="row">


                                <div class="row gutter-2">
                                    {{#resultsByLetter}}
                                    <div class="col-md-6">
                                        <div class="boxed p-3">
                                            <h4>{{key}}</h4>
                                            {{#teams}}
                                            <a class="nav-link" href="/teams/{{.}}.html">{{.}}</a>
                                            {{/teams}}
                                        </div>
                                    </div>
                                    {{/resultsByLetter}}
                                </div>



                            </div>
                        </section>
                        <!-- / styles -->



                    </article>


                    <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                        <div class="sticky">
                            <ul id="toc" class="nav flex-column toc">
                                <li class="nav-item">
                                    {{#teams}}
                                    <a class="nav-link" href="/teams/{{key}}.html">{{key}}</a>
                                    {{/teams}}
                                </li>
                            </ul>
                        </div>
                    </aside>


                </div>

            </article>
            <!-- / content -->

        </div>
    </div>
</section>

{{>footer}}
</body>
</html>