<div class="row">
    <div class="col">
        <div class="doc-content-header">
            <div class="row align-items-center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="align-items-center">
                        <ol class="breadcrumb d-none d-lg-inline-flex" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="https://www.tranmere-web.com"  itemprop="item"><span itemprop="name">Home</span><meta itemprop="position" content="1"/></a></li>
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item active" aria-current="page"><span itemprop="name">{{title}}</span><meta itemprop="position" content="2"/></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>