<!-- footer -->
<footer class="bg-dark">
    <div class="container">
        <div class="row gutter-3">
            <div class="col-12 col-md-2">
                <a href="/index.html"><img src="/assets/logos/logo_white_transparent.png" alt="Logo"></a>
            </div>
            <div class="col-12 col-md-6 text-white">
                <div class="row">
                    <div class="col">
                        <ul class="list-group list-group-minimal">
                            <li class="list-group-item"><a href="/about.html" class="link">About the site</a></li>
                            <li class="list-group-item"><a href="https://github.com/chrisowen491/tranmere-web" class="link">Sourcecode</a></li>
                            <li class="list-group-item"><a href="/contact.html" class="link">Contact Us</a></li>
                            <li class="list-group-item"><p class="mb-4">© Tranmere-Web 2020</p></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-group list-group-minimal">

                            <li class="list-group-item"><div class='onesignal-customlink-container'></div></li>
                            <li class="list-group-item">Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 ml-auto text-md-right">
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->

<script src="/assets/js/vendor.min.js"></script>
<script src="/assets/js/app.js"></script>