<header class="header header-sticky header-transparent" id="homenav">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div itemscope itemtype="http://schema.org/Organization">
                    <a itemprop="url" href="/" title="Tranmere-Web.com" class="navbar-brand"><img src="/assets/logos/logo_white_transparent.png" alt="Tranmere-Web.com" itemprop="logo"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-1" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Results
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-1">
                                <a class="dropdown-item" href="/results.html">Results Home</a>
                                <a class="dropdown-item" href="/results.html?venue=Wembley Stadium">Tranmere At Wembley</a>
                                <a class="dropdown-item" href="/results.html?pens=Penalty Shootout">Penalty Shootouts</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-2" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Players
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-2">
                                <a class="dropdown-item" href="/player-search.html">Players Home</a>
                                <a class="dropdown-item" href="/player-search.html?sort=Starts">Most Tranmere Starts</a>
                                <a class="dropdown-item" href="/player-search.html?sort=Goals">Most Tranmere Goals</a>
                                <a class="dropdown-item" href="/top-scorers-by-season.html">Top Scorers By Season</a>
                                <a class="dropdown-item" href="/super-stars.html">Opposition Stars</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-3" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Stats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-3">
                                <a class="dropdown-item" href="/stats.html">Stats Home</a>
                                <a class="dropdown-item" href="/results.html?sort=Top Attendance">Highest Tranmere Attendances</a>
                                <a class="dropdown-item" href="/results.html?sort=Top Attendance&venue=Prenton Park">Highest Tranmere Attendances at Prenton Park</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-4" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Media
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-4">
                                <a class="dropdown-item" href="/media.html">Media Home</a>
                                <a class="dropdown-item" href="/page/gallery/Video">Videos</a>
                                <a class="dropdown-item" href="/page/gallery/Book">Books</a>
                                <a class="dropdown-item" href="/page/gallery/Card">Football Cards</a>
                            </div>
                        </li>
                    </ul>
                    <form action="#" class="form-inline">
                        <input class="form-control  form-control-sm" id="search-input" name="search" type="text" placeholder='Search the site' />
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>