<div class="card stacked" style="margin-bottom:50px">
    <div class="card-body" style="background-color:aliceblue">
        <div class="row gutter-2 align-items-center">
            <div class="col">
                <h3 class="card-title mb-1">{{season}}</h3>
            </div>
            <div class="col">
                <img src="{{image.fields.file.url}}" width="100px">
            </div>
        </div>
    </div>
</div>