<section class="hero bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-white mb-3">
                <h1 class="h2 pb-1">{{title}}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-minimal"  itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/" itemprop="item"><span itemprop="name">Home<meta itemprop="position" content="1"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item"><a href="/media.html" itemprop="item"><span itemprop="name">Media<meta itemprop="position" content="2"/></span></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item active" aria-current="page"><span itemprop="name">{{title}}</span><meta itemprop="position" content="3"/></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>