<!-- navigation -->
<aside class="col-lg-3 col-xxl-2 p-3 doc-sidebar">
    <div class="sticky">
        <nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
            <div  itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://www.tranmere-web.com" title="Tranmere-Web.com"  class="navbar-brand"><img src="/assets/logos/logo_v1.png" alt="Tranmere-Web.com"  itemprop="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="page-nav" class="nav flex-column nav-vertical-2">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="collapse" href="#menu-1" role="button" aria-expanded="true" aria-controls="menu-1">Quick Links</a>
                        <div class="collapse show" id="menu-1" data-parent="#page-nav">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <img alt="Season" style="margin-left:20px" title="Season" width="40px" height="40px" src="/assets/icons/052-season.png" align="left"/><a class="nav-link" href="/seasons.html">Results By Season</a>
                                </li>
                                <li class="nav-item">
                                    <img alt="Team" style="margin-left:20px" title="Team" width="40px" height="40px" src="/assets/icons/009-football club.png" align="left"/><a class="nav-link" href="/teams.html">Matches By Opposition Team</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#menu-2" role="button" aria-expanded="false" aria-controls="menu-2">Players</a>
                        <div class="collapse" id="menu-2" data-parent="#page-nav">
                            <div>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <img alt="Player" style="margin-left:20px" title="Player" width="40px" height="40px" src="/assets/icons/043-player.svg" align="left"/>
                                        <a class="nav-link" href="/players.html">All Time List</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#menu-3" role="button" aria-expanded="false" aria-controls="menu-3">Other Stuff</a>
                        <div class="collapse" id="menu-3" data-parent="#page-nav">
                            <div>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <img alt="Manager" style="margin-left:20px" title="Manager" width="40px" height="40px" src="/assets/icons/038-manager.png" align="left"/>
                                        <a class="nav-link" href="/managers.html">Manager Records</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</aside>
        <!-- / navigation -->