<aside class="col-md-4 content-aside bg-light">
    <div class="widget">
        <h3 class="widget-title">Latest Posts</h3>
        <div class="list-group list-group-related">
            {{#blogs}}
            <a href="/page/blog/{{sys.id}}" class="list-group-item list-group-item-action d-flex align-items-center active">
                <i class="fs-20 icon-file-text2 text-primary mr-1"></i>
                {{fields.title}}
            </a>
            {{/blogs}}
        </div>
    </div>

</aside>