<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body py-0">
                <div class="accordion accordion-fluid" id="accordion-1">
                    {{#matches}}
                    <div class="card">
                        <div class="card-header" id="heading-{{Date}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{Date}}" aria-expanded="false" aria-controls="collapse-{{_id}}">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-4 col-lg-2">
                                            <small><time datetime="{{Date}}" class="text-muted d-block">{{Date}}</time></small>
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <small>{{competition}}</small>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 text-left text-md-right">
                                            <small>{{home}}</small>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 text-left text-md-right">
                                            <small>{{FT}}</small>
                                        </div>
                                        <div class="col-12 col-md-2 col-lg-2 text-left text-md-right">
                                            <small>{{visitor}}</small>
                                        </div>
                                    </div>
                                </button>
                            </h5>
                        </div>

                        <div id="collapse-{{Date}}" class="collapse" aria-labelledby="heading-{{Date}}" data-parent="#accordion-1">
                            <div class="card-body">
                                {{#attendance}}
                                <small>Attendance: {{attendance}}</small>
                                {{/attendance}}
                                <table class="table table-striped boxed">
                                    {{#apps}}
                                    <tr>
                                        <td><small>{{Number}}</small></td>
                                        <td>
                                            <small><a href="/players/{{Name}}.html">{{Name}}</a>
                                            {{#SubbedBy}}(<a href="/players/{{SubbedBy}}.html">{{SubbedBy}}</a>){{/SubbedBy}}
                                            </small>
                                        </td>
                                    </tr>
                                    {{/apps}}
                                </table>
                            </div>
                        </div>
                    </div>
                    {{/matches}}
                </div>
            </div>
        </div>
    </div>
</div>