<article class="col-12 tranmere-results">
    <div class="card" >
        <div class="card-body" style="background-image:url({{programme}});">
            <div class="row gutter-2 align-items-center">
                <div class="col">
                    <h5 class="card-title mb-1" id="{{name}}">{{name}}</h5>
                    <p class="card-text mb-2"><small>{{notes}}</small></p>
                    <p class="card-text mb-2"><small>{{match}}</small></p>
                    <p class="card-text mb-2"><small><time datetime="{{date}}" class="text-muted d-block">{{date}}</time></small></p>
                    <div>
                        <a href="/results.html?season={{season}}" class="btn btn-sm btn-rounded btn-primary">Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>